/*---- Colors ----*/
$color-default: #212121;
$color-secondary: #e0a581;
$color-white: #ffffff;
$color-blue: #0087a8;
$color-grey: #e2e2e2;

$cor-teste: #7d6d92;

/*---- Fonts ----*/
@font-face {
    font-family: "Open Sans", sans-serif;
    src: url('/fonts/opensans/OpenSans-Light.ttf') format('truetype');
}
$font-default: "Open Sans", sans-serif;

/*---- Fonts ----*/
@font-face {
    font-family: "Vogue", sans-serif;
    src: url('/fonts/vogue/Vogue-Bold.ttf') format('truetype');
}
$font-secondary: "Vogue", sans-serif;