/*---- transições ----*/
@mixin transition($transition...) {
    transition: $transition;
    -o-transition: $transition;
    -ms-transition: $transition;
    -webkit-animation: $transition;
}

/*---- Trasnform ----*/
@mixin transform($transform...) {
    transform: $transform;
    -o-transform: $transform;
    -ms-transform: $transform;
    -webkit-transform: $transform;
}

/*---- RESPONSIVO ----*/
@mixin resp($screen) 
{
    
    @if $screen == mobile {
        @media (max-width:576px) {
            @content;
        }
    }

    @else if $screen == tablet {
        @media (max-width: 768px) {
            @content;
        }
    }

    @else if $screen == notebook {
         @media (min-width:780px) and (max-width: 1024px) {
             @content;
         }
    }


    @else if $screen == desktop {
        @media (max-width: 1200px) {
            @content;
        }
    }

    @else if screen == desktoplarge {
        @media (min-width: 1200px) {
            @content;
        }
    }
}