/*----  Versão do Bootstrap 4.5.2 -----*/
@import 'pointcom-mixins';
@import 'pointcom-variables';

/*---- Geral -----*/
html, body {
    height: 100vh;
}

body {
    font-family: $font-default;
    background-color: #f2f2f2;
}

a:hover {
    text-decoration: none;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}

.container {
    max-width: 1300px;
}

.pointcom-box-resumido {
    max-width: 980px;
    padding: 50px 0;
}

a:focus,
a:hover,
button:focus {
    text-decoration: none;
    outline: 0;
}

/*----- Header -----*/
header {
    background-color: $color-default;
    color: $color-white;
    padding: 30px 0;

    .logotipo {
        max-width: 130px;
    }
}

.menu-principal {
    background: rgba($color-default, 0.95);

    .pointcom-menu {
        margin: 0;
        padding: 0;


        .nav-link {
            font-size: 1rem;
            color: $color-white;
            font-weight: 500;
            padding: 1rem 2rem !important;
            @include transition( all .3s ease );

            &:hover {
                color: $color-secondary;
                @include transition( all .3s ease );
            }
        }

        .ativo {
           .nav-link {
                color: $color-secondary;
           }

           &::after {
                content: '';
                width: 100%;
                height: 3px;
                background-color: $color-secondary;
                display: block;
           }
        }
    }
}

.menu-alunos {

    .dropdown {

        .dropdown-toggle {
            color: $color-white;
            font-weight: bold;
            font-size: .875rem;
        }

        .dropdown-menu {
            background-color: $color-secondary;
            padding: 0;
            border-bottom-right-radius: 15px;
            overflow: hidden;
            border: 2px solid;
            border-color: $color-secondary;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            .dropdown-item {
                padding: 10px;
                @include transition(all .4s ease);

                &:hover {
                    background-color: $color-default;
                    color: $color-secondary;
                    @include transition(all .4s ease);
                }
            }

            .dropdown-divider {
                border-color: $color-default;
                margin: 0;
            }
        }
    }

    .duvidas {
        margin-top: 20px;
        color: $color-white;
        border: 2px solid;
        border-color: $color-white;
        padding: 8px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-weight: bold;
        @include transition ( all .4s ease );
        letter-spacing: .6px;

        &:hover {
            border-color: $color-secondary;
            color: $color-secondary;
            @include transition ( all .4s ease );
        }
    }
}

.btn-padrao {
    display: block;
    text-align: center;
    background-color: $color-secondary;
    color: $color-white;
    padding: 15px;
    font-weight: 800;
    margin: 0 0 20px 0;

    &:hover {
        text-decoration: none;
    }

    span {
        display: inline-flex;
        position: relative;
        top: 6px;
        margin-left: 10px;
    }
}

/*---- Autenticação ----*/
.autenticacao {
    padding: 0;

    .box-left {
        height: 100vh;
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: $color-grey;
    }

    .box-right {
        background-color: $color-blue;
        height: 100vh;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .pointcom-box-form {
        width: 45%;
        text-align: center;


        .logotipo {
            max-width: 200px;
            margin-bottom: 30px;
            margin: 0 auto 30px auto;
        }

        .box-info-form {
            background-color: $color-white;
            padding: 50px 30px;
            border-bottom-right-radius: 30px;
            box-shadow: rgba(55, 56, 60, 0.25) 0px 8px 24px;
            text-align: left;

            h2 {
                font-weight: 800;
                margin: 0 0 15px 0;
            }

            p {
                margin: 0 0 20px 0;
                font-size: 1rem;
            }



            .pointcom-form {
                input {
                    height: 50px;
                    width: 100%;
                    border: 1px solid;
                    background: rgba($color-blue, 0.15);
                    padding: 15px;
                    margin: 0 0 10px 0;

                    &::placeholder {
                        font-style: italic;
                        color: $color-default;
                    }
                }

                .btn-acessar {
                    display: block;
                    text-align: center;
                    background-color: $color-secondary;
                    color: $color-white;
                    padding: 15px;
                    font-weight: 800;
                    margin: 0 0 20px 0;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            .alerta {
                text-align: center;
                color: $color-secondary;
            }

            .footer-autenticacao {

                width: 100%;

                a {
                    width: 49%;
                    display: inline-flex;
                    color: $color-secondary;

                    &:nth-child(2) {
                        text-align: right;
                        display: inline-block;
                        color: $color-default;
                    }
                }
            }
        }

        @include resp(mobile) {
            .box-info-form {

                h2 {
                   font-size: 1.5rem;
                }

                .footer-autenticacao {

                    a {
                        display: block;
                        width: 100% !important;
                        text-align: center !important;
                        margin-bottom: 10px;
                    }
                }

            }
        }

        @include resp(tablet) {
            width: 70%;
        }

        @include resp(notebook) {
            width: 85%;
        }
    }

    @include resp(mobile) {
        .pointcom-box-form {
            width: 95%;
        }
    }
}

.desabilitado {
    filter: grayscale(.8);
}

/*---- Seções -----*/
section {
    padding: 50px 0;

    .titulo-secao {
        font-size: 1rem;
        line-height: 4rem;
        text-transform: uppercase;
        font-weight: 100;
        border-bottom: 1px solid;
        border-color: $color-default;
        margin-bottom: 30px;
    }

    .box-loop-cursos {
        background-color: $cor-teste;
        padding: 30px;
        margin-bottom: 30px;
        border-radius: 10px;
        text-align: center;
        color: $color-white;
        @include transition( all .3s ease );

        a {
            color: $color-white;

            &:hover {
                text-decoration: none;
            }
        }

        p {
            margin-top: 25px;
            margin-bottom: 25px;
            display: block;
            font-size: 1rem;
            font-weight: 300;
        }

        span {
            font-size: 1.7rem;
            padding: 10px;
            border: 1px solid;
            border-color: transparent;
            @include transition( all .3s ease );
        }

        &:hover {
            box-shadow: rgba(55, 56, 60, 0.25) 0px 8px 24px;
            @include transition( all .3s ease );

            span {
                border: 1px solid;
                border-color: $color-white;
                border-bottom-right-radius: 10px;
                @include transition( all .3s ease );
            }
        }
    }

}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.pointcom-form {
    padding: 30px 0;

    input{
        height: 50px;
        border-top: 0;
        border-right: 0;
        border-bottom: 1px solid;
        border-left: 0;
        border-radius: 0;
        border-color: $color-default;
        background-color: #f2f2f2;
        @include transition( all .3s ease );

        &:focus{
            background-color: #d8d8d8;
            color: $color-white;
            @include transition( all .3s ease );
            outline: none;

        }
    }

    .pointcom-btn {
        height: 50px;
        border: 0;
        border-radius: 0;
        position: absolute;
        right: 0;
        z-index: 999;

        span {
            font-size: 2rem;
            line-height: 40px;
        }
    }
}

.npd {
    padding: 0 !important;
}

.marb {
    margin: 0 !important;
}

.card {
    padding: 15px;
    margin-bottom: 30px;
    border: 0;
    box-shadow: rgba(146, 146, 146, 0.25) 0px 8px 24px;
    overflow: hidden;

    .card-body {

        .card-title {
            font-weight: 700;

            &.internas {
                text-transform: uppercase;
                font-size: 0.875rem;
                color: #6c757d;
            }
        }
    }

    .table {

        tr {

            td {
                border-top: 0;
                border-bottom: 1px solid;
                border-color: $color-grey;

                .concluido {
                    color: #20b12c;
                }
            }
        }
    }

    .pointcom-number {
        width: 85px;
        height: 85px;
        border: 1px solid;
        border-color: $color-default;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 2rem;
        font-weight: 800;
        position: relative;
        top: 10px;
    }

    .box-bonus {
        text-align: center;
        min-height: 540px;

        img {
            margin-bottom: 2rem;
        }

        span {
            font-weight: bold;
            font-size: 0.875rem;
            color: $color-secondary;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h2 {
            text-transform: uppercase;
            font-size: 1.1rem;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 50px;
        }

        p {
            font-size: 0.875rem;
            margin: 15px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height:100px;
        }
    }
}

.pointcom-video {
    padding: 56.25% 0 0 0;
    position:relative;
    margin-bottom: 50px;
    background-color: $color-default;
}

.curso-on {

    .pointcom-conteudo-aulas {

        .tit-chamada {
            font-size: 0.875rem;
            text-transform: uppercase;
            font-weight: 700;
        }

        .titulo-aulas {
            font-size: 2rem;
            font-weight: 800;
            line-height: 4rem;
        }

        .pointcom-reviews {
            padding: 30px 0 15px 0;

            .chamada {
                margin-right: 15px;
            }

            .icon {
                color: #ffcc00;
            }
        }
    }
}

.btn-pointcom-outlined {
    border: 1px solid;
    border-color: $color-default;
    border-radius: 20px;
    padding: 5px 30px;
    @include transition( all .3s ease );

    &:hover {
        background-color: #20b12c;
        border-color: #20b12c;
        color: $color-white;
        @include transition( all .3s ease );
    }

    &.concluido {
        background-color: #20b12c;
        border-color: #20b12c;
        color: $color-white;
    }

    .material-icons-outlined {
        position: relative;
        top: 3px;
        font-size: 1rem;
    }
}

.btn-pointcom-preto {
    background-color: $color-default;
    color: $color-white;
    @include transition( all .3s ease );

    &:hover{
        background-color: $color-secondary;
        @include transition( all .3s ease );
    }

    .material-icons-outlined {
        position: relative;
        top: 3px;
        font-size: 1rem;
    }
}

.pointcom-icone {
    position: relative;
    // top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    text-align: center;

    &:hover {
        color: $color-white;
    }

    img {
        width: 40px;
    }

    span {
        position: absolute;
        font-size: 0.800rem;
        font-weight: 800;
        font-family: $font-secondary;
    }
}

.pointcom-box {
        padding: 50px 20px;
        border: 1px solid;
        border-radius: 15px;
        margin-top: 50px;


    &.prev {
        border-color: #9999a3;
        color: #9999a3;
        text-align: right;
    }

    &.next {
        border-color: #6aa84f;
        color: #6aa84f;
    }

    p {
        margin: 0;
    }

    h3 {
        font-weight: bold;
    }
}

.onboarding {
    padding: 80px 0 0 0;
    background: linear-gradient(
        180deg,
        $color-default 50%,
        #f2f2f2 50%
        );
}

.pointcom-onboarding-content {
    .card {
        text-align: center;
        align-items: center;
        padding: 50px 20px;

        h2 {
            font-weight: bold;
            font-size: 1.2rem;
            min-height: 60px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        .context {
            font-size: 0.875rem;
            min-height: 100px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        .pointcom-number {
            margin-bottom: 30px;
        }

        .check {
            margin-top: 50px;
            border-top: 1px solid;
            border-color: #d1d1d1;
            padding: 10px 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            .icon-right {
                margin-right: 5px;
            }
        }
    }

    .pointcom-link {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-default;
        text-decoration: underline;
        padding: 30px 0;
    }
}

/*----- Footer -----*/
footer {
    background-color: $color-default;
    padding: 30px 0;

    img {
        width: 150px;
    }
}